body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("images/background.png");
  background-position: 20px 0px;
  background-repeat: no-repeat;
}

#wrap {
  width: 300px;
  height: 240px;
  overflow: hidden;
}

#game {
  width: 200px;
  text-align: center;
}


button {
  font-size: 7pt;
}

#info {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 100px;
  text-align: left;
  font-size: 9pt;
  font-family: arial, helvetica, sans-serif;
}

#credits {
  font-size: 10pt;
}

#log {
  color: #666666;
}

#attribution {
  text-align: right;
  width: 280px;
  font-size: 7pt;
  color: #666666;
  font-family: arial, helvetica, sans-serif;
  margin-top: 20px;
}

#attribution a {
  color: #6666ff;
}

